@import "~normalize.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/core/lib/scss/variables.scss";
@import "~@blueprintjs/core/lib/css/blueprint.css";

/* variables */
$footer-height: 50px !default;

/* common */
html,
body {
  background-color: $dark-gray5;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer-height;
}

a {
  font-weight: bold;
}

li:not(:last-child) {
  margin-bottom: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border: 1px solid transparent;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: $light-gray5;
}

::-webkit-scrollbar-thumb {
  background: $gray4;
}

#footer {
  display: flex;
  justify-content: center;
  position: absolute;
  overflow: hidden;
  height: $footer-height;
  left: 0;
  right: 0;
  bottom: 0;
}

.highlight {
  color: $gold5;
}

.main-content {
  position: relative;
  padding: 20px;
}

.text-center {
  text-align: center;
}

.font-large {
  font-size: large;
}

/* home */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-wrapper {
  max-width: 900px;
}

.features {
  &>.feature {
    margin-right: 6px;
    margin-bottom: 6px;
  }
}
